@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
*{
 margin: auto;
 padding: 0;
 font-family: 'Red Hat Text';
 box-sizing: border-box;
 user-select: none;
}
.dessert_heading{
 color: hsl(14, 54%, 20%);
 font-weight: 700;
 font-size: 30px;
}
#dessert{
  margin-left: 2rem;
}
.ShopDiv{
  background-color: hsl(13, 31%, 94%);
  margin: 3rem 5rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.2rem;
  align-items: center;
  box-shadow: 7px 10px 15px gainsboro;
  padding: 3rem 2rem 1rem 2rem;
}
.products{
 display: grid;
 padding: 1rem 0 0 0;
 width: 45rem;
 grid-row-gap: 2rem;
 margin-left: -1.6rem;
 grid-template-columns: repeat(3, 14rem);
}
.image{
 width: 12rem;
 height: 12rem;
 border-radius: 20px;
}
.prodDesc{
 padding-top: 1.9rem;
}
.items{
 width: 12rem;
 position: relative;
}
.name{
 font-size: smaller;
 font-weight: 400;
 display: block;
}
.prod_ID{
 display: block;
 font-weight: 600;
}
.price{
 color: hsl(14, 86%, 42%);
 font-size: small;
 font-weight: 700;
}
.cart-Button{
  width: 7rem;
  padding: 0.7rem;
  border-radius: 8rem;
  outline: none;
  border: none;
  position: absolute;
  top: 10.78rem;
  left: 2.5rem;
  z-index: 2;
  background-color: whitesmoke;
  color: red;
  font-size: 11px;
  display: flex;
  align-items: center;
  font-weight: 700;
}
aside{
  position: relative;
  height: 59rem;
  width: 25rem;
}
.cart{
  box-shadow: 5px 5px 10px hsl(13, 31%, 94%);
  background-color: white;
  padding: 0.6rem;
  border-radius: 10px;
}
aside .cart .header{
  color: hsl(14, 86%, 42%);
  font-weight: 900;
  font-family: 'Red Hat Text';
  font-size: 25px;
}
aside ul{
  list-style-type: none;
}
#carbon-neutral{
  border: none;
  width: 95%; 
  padding: 0.6rem; 
  border-radius: 10px; 
  outline: none; 
  margin-top: 0.5rem; 
  margin-bottom: 0.8rem; 
  text-align: center;
}
#confirm-order{
  width: 95%;
  border-radius: 20px;
  padding: 0.6rem;
  border: none;
  outline: none;
  background-color: hsl(14, 86%, 42%);
  color: antiquewhite;
  font-weight: 700;
}
.total{
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
  margin-top: 0.5rem;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
}

/* media query  for mobile devices*/

@media (min-width: 320px) and (max-width: 599px) {
  .ShopDiv{
    background-color: hsl(13, 31%, 94%);
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
    align-items: center;
    padding: 1rem 1rem;
  }
  #dessert{
    margin-left: 1rem;
  }
  .products{
    display: grid;
    padding: 1rem 0 0 0;
    width: 20rem;
    grid-row-gap: 2rem;
    grid-column-gap: 0.5rem;
    margin-left: -1.6rem;
    grid-template-columns: repeat(3, 7.5rem);
   }
  .items{
    width: 6.5rem;
    position: relative;
   }
   .image{
    width: 7rem;
    height: 7rem;
    border-radius: 20px;
   }
   .prodDesc{
    padding-top: 0.5rem;
   }
   .prod_ID{
    display: block;
    font-weight: 600;
    font-size: 15px;
   }
   .cart-Button{
    width: 5.5rem;
    padding: 0.2rem 0.3rem;
    border-radius: 8rem;
    outline: none;
    border: none;
    position: absolute;
    top: 5.9rem;
    left: 0.5rem;
    z-index: 2;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
  }
  .cart{
  box-shadow: 5px 5px 10px hsl(13, 31%, 94%);
  background-color: white;
  padding: 0.6rem;
  border-radius: 10px;
  width: 20rem;
  margin-left: 1.5rem;
}
aside .cart .header{
  color: hsl(14, 86%, 42%);
  font-weight: 900;
  font-family: 'Red Hat Text';
  font-size: 25px;
}
aside ul{
  list-style-type: none;
}
#carbon-neutral{
  border: none;
  width: 18rem; 
  padding: 0.6rem; 
  border-radius: 10px; 
  outline: none; 
  margin-top: 0.5rem; 
  margin-bottom: 0.8rem; 
  text-align: center;
}
#confirm-order{
  width: 95%;
  border-radius: 20px;
  padding: 0.6rem;
  border: none;
  outline: none;
  background-color: hsl(14, 86%, 42%);
  color: antiquewhite;
  font-weight: 700;
}
.total{
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
  margin-top: 0.5rem;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
}
}